{% load static %}
<!-- top head & navbar-->
<header class="page-head">
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar novi-background rd-navbar-center" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="220px" data-xl-stick-up-offset="220px" data-xxl-stick-up-offset="220px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-inner">
                <div class="rd-navbar-panel"><button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                    <h4 class="panel-title">AdmissionGet.com</h4><button class="rd-navbar-top-panel-toggle" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></button>
                    <div class="rd-navbar-top-panel">
                        <div class="shell">
                            <div class="range range-10 range-md-center range-md-middle range-lg-around">
                                <div class="cell-md-3">
                                    <div class="unit unit-horizontal unit-top unit-spacing-xs">
                                        <div class="unit-left"><span class="icon novi-icon mdi mdi-phone text-middle"></span></div>
                                        <div class="unit-body"><a class="reveal-block" href="tel:#">096119 25217,</a><a href="tel:#">096119 25217</a></div>
                                    </div>
                                </div>
                                <div class="cell-md-3 text-center">
                                    <div class="rd-navbar-brand"><a class="reveal-inline-block" href="index.html"><img src="{% static 'images/logo-default-2-144x122.png' %}" alt="admissionget-logo" width="191" height="80"></a></div>
                                </div>
                                <div class="cell-md-3">
                                    <div class="inset-md-left-50">
                                        <div class="unit unit-horizontal unit-top unit-spacing-xs text-left">
                                            <div class="unit-left"><span class="icon novi-icon mdi mdi-map-marker text-middle"></span></div>
                                            <div class="unit-body"><a href="#">Head Quarter,Bangalore, Karanataka, India</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rd-navbar-menu-wrap clearfix">
                    <div class="rd-navbar-nav-wrap">
                        <div class="rd-navbar-mobile-scroll">
                            <div class="rd-navbar-mobile-header-wrap">
                                <div class="rd-navbar-mobile-brand"><a href="index.html"><img src="{% static 'images/logo-default-2-144x122.png' %}" alt="" srcset="images/logo-default-2-144x122.png"></a></div>
                            </div>
                            <ul class="rd-navbar-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="{% url 'home:about' %}">About</a>
                        
                                </li>
                                <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="#">Courses</a>
                                    <ul class="rd-navbar-dropdown rd-navbar-open-right" style="">
                                        <li><a href="{% url 'home:enggCourse' %}">Engineering</a></li>
                                        <li><a href="{% url 'home:medicalCourse' %}">Medical</a></li>
                                        <li><a href="{% url 'home:mmgCourse' %}">Management</a></li>
                                        <li><a href="{% url 'home:lawCourse' %}">Law</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Colleges</a>
                                    <ul class="rd-navbar-dropdown">
                                        <li><a href="{% url 'home:enggCollege'%}">Engineering Colleges</a></li>
                                        <li><a href="{% url 'home:medicalCollege'%}">Medical Colleges</a></li>
                                        <li><a href="{% url 'home:mmgCollege'%}">Management Colleges</a></li>
                                        <li><a href="{% url 'home:lawCollege'%}">Law Colleges</a></li>
                                       
                                    </ul>
                                </li>
                                <li ><a href="{% url 'blog:post_list' %}">Blog</a>
                                </li>
                                <li><a href="{% url 'home:contact' %}">Contacts</a></li>
                            </ul>
                            <div class="rd-navbar-search-mobile" id="rd-navbar-search-mobile">
                                <form class="rd-navbar-search-form search-form-icon-right rd-search" action="search-results.html" method="GET">
                                    <div class="form-group"><label class="form-label" for="rd-navbar-mobile-search-form-control">Search...</label><input class="rd-navbar-search-form-control form-control form-control-gray-lightest" id="rd-navbar-mobile-search-form-control" type="text" name="s" autocomplete="off"></div><button class="icon fa-search rd-navbar-search-button" type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-search"><a class="rd-navbar-search-toggle mdi" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                        <form class="rd-navbar-search-form search-form-icon-right rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                            <div class="form-group"><label class="form-label" for="rd-navbar-search-form-control">Search</label><input class="rd-navbar-search-form-control form-control form-control-gray-lightest" id="rd-navbar-search-form-control" type="text" name="s" autocomplete="off">
                                <div class="rd-search-results-live" id="rd-search-results-live"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>