{% extends 'home/base.html' %}
{% load static %}

{% block content %}        
        <section class="section novi-background bg-cover section-70 section-md-114 bg-default">
            <div class="shell">
                <div class="range range-50 text-sm-left range-sm-middle range-sm-justify">
                    <div class="cell-sm-5 cell-md-4 cell-sm-push-2"><a href="index.html"><video width="420" height="420" autoplay>
                        <source src="{% static 'video/aget-about-side.mp4' %}" type="video/mp4">
                      </video></a></div>
                    <div class="cell-sm-7 cell-md-7 cell-sm-push-1">
                        <h3 class="text-bold">A Few Words <br class="veil reveal-lg-inline-block"> About AdmissionGet.com</h3>
                        <hr class="divider bg-madison hr-sm-left-0">
                        <div class="offset-top-30 offset-md-top-30">
                            <p>AdmissionGet is a character education representative who allows the parents, students as well as the organization with career guidance & admission making plans. We are self-employed who help the students within the choice of the quality college with the aid of giving him the right data regarding the control quota seats, unfastened seats, rate structure, entrance tests, and many others.</p>
                        </div>
                        <div class="offset-top-30 offset-md-top-30">
                            <p>We offer the complete guide concerning the entrance assessments to be cleared for the path the candidate is looking into. Here the scholar receives the proper records concerning what stage of rating he has to achieve to enter a particular university. On the side of this, he can get the direct substances required for attending the entrance exams, lessons data, on-line help concerning the tests, and many others. We're the excellent schooling consultants and offer statistics about which university is the fine for which direction. The steering is given according to the interest of the pupil into which he is looking. We offer entire steerage and information to NRI students too who are seeking out admissions in India. Each university has a fixed NRI quota seats for each course. Right here you can get entire data approximately the facilities provided by the schools and universities, in conjunction with the placements facts.</p>
                        </div>
                        <div class="offset-top-30"><a class="btn btn-icon btn-icon-right btn-default" href="history.html"><span class="icon fa-arrow-right"></span><span>Learn More</span></a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section novi-background bg-cover bg-gray-darkest context-dark">
            <div class="bg-vide novi-vide" data-vide-bg="video/bg-video-1-lg" data-vide-options="posterType: jpg">
                <div class="bg-vide-content section-100 section-md-160">
                    <div class="shell">
                        <h2 class="text-bold">Trusted by Over 6000+ Students</h2>
                        <div class="offset-top-30">
                            <p>Join our community of students around the world helping you succeed.</p>
                        </div>
                        <div class="offset-top-35 offset-lg-top-70"><a class="btn btn-primary" href="#">Get Started</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section novi-background bg-cover section-70 section-md-114 bg-default">
            <div class="shell">
                <h2 class="text-bold">We provide career guidance in </h2>
                <hr class="divider bg-madison">
                <div class="range range-50 range-xs-center offset-top-50 text-center">
                    <div class="cell-sm-6 cell-md-3">
                        <!-- Circle Progress bar-circle-->
                        <div class="progress-bar-circle progress-bar-modern" data-value="1" data-gradient="#b80924" data-thickness="10" data-empty-fill="#e5e5e5" data-size="130"><span></span></div>
                        <div class="offset-top-20">
                            <h6 class="text-bold">Law studies</h6>
                        </div>
                    </div>
                    <div class="cell-sm-6 cell-md-3">
                        <!-- Circle Progress bar-circle-->
                        <div class="progress-bar-circle progress-bar-modern" data-value="1" data-gradient="#b80924" data-thickness="10" data-empty-fill="#e5e5e5" data-size="130"><span></span></div>
                        <div class="offset-top-20">
                            <h6 class="text-bold">Study of Engineering</h6>
                        </div>
                    </div>
                    <div class="cell-sm-6 cell-md-3">
                        <!-- Circle Progress bar-circle-->
                        <div class="progress-bar-circle progress-bar-modern" data-value="1" data-gradient="#b80924" data-thickness="10" data-empty-fill="#e5e5e5" data-size="130"><span></span></div>
                        <div class="offset-top-20">
                            <h6 class="text-bold">Medical Studies</h6>
                        </div>
                    </div>
                    <div class="cell-sm-6 cell-md-3">
                        <!-- Circle Progress bar-circle-->
                        <div class="progress-bar-circle progress-bar-modern" data-value="1" data-gradient="#b80924" data-thickness="10" data-empty-fill="#e5e5e5" data-size="130"><span></span></div>
                        <div class="offset-top-20">
                            <h6 class="text-bold">Study of Management</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section novi-background bg-cover section-70 section-xl-100 section-xl-bottom-114 bg-madison context-dark position-relative">
            <div class="owl-carousel owl-carousel-default veil-xl-owl-dots veil-owl-nav reveal-xl-owl-nav" data-items="1" data-nav="true" data-dots="true" data-nav-class="[&quot;owl-prev fa-angle-left&quot;, &quot;owl-next fa-angle-right&quot;]">
                <div>
                    <div class="shell">
                        <div class="range range-xs-center range-xs-middle">
                            <div class="cell-sm-9 cell-sm-push-1">
                                <div class="quote-classic-boxed text-center">
                                    <div class="quote-body"><q>When you work full-time while studying, you need to sacrifice personal time, which meant that I took my studies seriously. My ambition was not only to complete my degree successfully but to make the best out of the time spent studying.</q>
                                        <div class="offset-top-30 text-center"><cite class="font-accent">Debra Banks</cite>
                                            <div class="offset-top-5">
                                                <p class="text-dark text-italic">Diploma for Graduates in Art, USA</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="shell">
                        <div class="range range-xs-center range-xs-middle">
                            <div class="cell-sm-9 cell-sm-push-1">
                                <div class="quote-classic-boxed text-center">
                                    <div class="quote-body"><q>When I researched the programmes available I realized that the University was offering exactly the type of programme in international development that interested me.</q>
                                        <div class="offset-top-30 text-center"><cite class="font-accent">Steven Alvarez</cite>
                                            <div class="offset-top-5">
                                                <p class="text-dark text-italic">Diploma for Graduates in International Development, USA</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
{% endblock content %}

